## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [ ]:
import os
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# 設定 data_path
dir_data = '/content/drive/My Drive/Colab Notebooks/機器學習百日馬拉松/Home Credit Default Risk'

In [ ]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: /content/drive/My Drive/Colab Notebooks/機器學習百日馬拉松/Home Credit Default Risk/application_train.csv

In [ ]:
#讀csv檔案後，算行及列的數目
app_train

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]

[link text](https://)### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

#### 列出所有欄位

In [ ]:
(r, c) = app_train.shape
print("row數: ",r)
print("column數: ", c)

row數:  307511
column數:  122

#### 截取部分資料

In [ ]:
print('gender的前十筆資料: ')
print(h)
h = app_train['CODE_GENDER'].head(10)

print('F和M和XNA的總數:')
app_train['CODE_GENDER'].value_counts()

gender的前十筆資料:
0    M
1    F
2    M
3    F
4    M
5    M
6    F
7    M
8    F
9    M
Name: CODE_GENDER, dtype: object
F和M和XNA的總數:

F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子