# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [36]:
import os
import numpy as np
import pandas as pd

In [37]:
# 設定 data_path, 並讀取 app_train
dir_data = '/content/drive/My Drive/Colab Notebooks/機器學習百日馬拉松/Home Credit Default Risk'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]

In [ ]:
## 作業
# 將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化；

# ---->轉換前後欄位數量由307511 rows × 1 columns 變成 307511 rows × 7 columns
# 欄位名稱由 WEEKDAY_APPR_PROCESS_START變成 WEEKDAY_APPR_PROCESS_START_FRIDAY, WEEKDAY_APPR_PROCESS_START_MONDAY,
# WEEKDAY_APPR_PROCESS_START_SATURDAY, WEEKDAY_APPR_PROCESS_START_SUNDAY,	WEEKDAY_APPR_PROCESS_START_THURSDAY,
# WEEKDAY_APPR_PROCESS_START_TUESDAY 以及 WEEKDAY_APPR_PROCESS_START_WEDNESDAY

In [38]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [39]:
data_dum = pd.get_dummies(sub_train)
pd.DataFrame(data_dum)

        WEEKDAY_APPR_PROCESS_START_FRIDAY  ...  WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                       0  ...                                     1
1                                       0  ...                                     0
2                                       0  ...                                     0
3                                       0  ...                                     1
4                                       0  ...                                     0
...                                   ...  ...                                   ...
307506                                  0  ...                                     0
307507                                  0  ...                                     0
307508                                  0  ...                                     0
307509                                  0  ...                                     1
307510                                  0  ...                                     0

[307511 rows x 7 columns]

In [40]:
# 另一種
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
sub_train['WEEKDAY_APPR_PROCESS_START'] = labelencoder.fit_transform(sub_train['WEEKDAY_APPR_PROCESS_START'] )

sub_train

        WEEKDAY_APPR_PROCESS_START
0                                6
1                                1
2                                1
3                                6
4                                4
...                            ...
307506                           4
307507                           1
307508                           4
307509                           6
307510                           4

[307511 rows x 1 columns]

In [41]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(categories='auto')
data_str_ohe = onehotencoder.fit_transform(sub_train).toarray()
pd.DataFrame(data_str_ohe)

          0    1    2    3    4    5    6
0       0.0  0.0  0.0  0.0  0.0  0.0  1.0
1       0.0  1.0  0.0  0.0  0.0  0.0  0.0
2       0.0  1.0  0.0  0.0  0.0  0.0  0.0
3       0.0  0.0  0.0  0.0  0.0  0.0  1.0
4       0.0  0.0  0.0  0.0  1.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...  ...
307506  0.0  0.0  0.0  0.0  1.0  0.0  0.0
307507  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307508  0.0  0.0  0.0  0.0  1.0  0.0  0.0
307509  0.0  0.0  0.0  0.0  0.0  0.0  1.0
307510  0.0  0.0  0.0  0.0  1.0  0.0  0.0

[307511 rows x 7 columns]

In [33]:
# 另一種
# 使用one-hot encoding 讀	WEEKDAY_APPR_PROCESS_START這一欄的資料轉成one hot ecoding
from tqdm.auto import tqdm
cls = {
       "SUNDAY":0, "MONDAY":1, "TUESDAY":2, "WEDNESDAY":3,
       "THURSDAY":4, "FRIDAY":5, "SATURDAY":6
       }
label = np.empty((307511,),dtype=np.float32)
for i, column in tqdm(enumerate(app_train['WEEKDAY_APPR_PROCESS_START'])):
  label[i] = cls[column]

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [34]:
print(label[0])
print(app_train["WEEKDAY_APPR_PROCESS_START"][0])

3.0
WEDNESDAY

In [35]:
# one-hot-encoding只可以做一次喔
from tensorflow.keras.utils import to_categorical
one_hot_encoding = to_categorical(label,num_classes=7)

In [36]:
print(one_hot_encoding[0:5])

[[0. 0. 0. 1. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0.]]